.navbar {
  width: 100%;
  height: 4.5625rem;
  flex-shrink: 0;

  border-bottom: 1px solid #c9cdd6;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;

  &__left_content {
    display: flex;
    margin-left: 4.25rem;
  }

  &__right_content {
    display: flex;
    margin-right: 4.25rem;
  }

  &__text {
    font-family: "General Sans", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
